*{
    padding:0;
    margin:0;

}



@media (max-width : 800px){
   .Topic h1{
    font-size: 28pt;
    margin-top: 10px;;
   }
   .navtag ul li  a {
    font-size: 12pt;
    margin-bottom: 5px;
   }
   .HeadITV h2{
    font-size: 24pt;
    margin-top: 10px;
   }
   .Engtxt p{
    font-size: 12pt;
   }
   .THtxt p{
    font-size: 12pt;
   }
   .ITD{
    font-size: 24pt;
   }

   .int-vdo video{
    max-width: 200px;
   }
   .blockTT h2{
    font-size: 24pt;
   }
   .info h3{
    font-size: 22pt;
   }
   .contact h3{
    font-size: 22pt;
   }
   .li{
    font-size: 12pt;
   }
   .CSTU{
    font-size: 14pt;
   }
   .btn p{
    font-size: 14pt;
   }
   .MYID h2{
    font-size: 14pt;
    }
    .mark{
    padding-bottom: 20px;
    }
   
}

@media (max-width : 500px){
    .Topic h1{
     font-size: 24pt;
     margin-top: 10px;;
    }
    .navtag ul li  a {
     font-size: 8pt;
     margin-bottom: 5px;
    }
    .HeadITV h2{
     font-size: 22pt;
     margin-top: 10px;
    }
    .Engtxt p{
     font-size: 10pt;
    }
    .THtxt p{
     font-size: 10pt;
    }
    .ITD{
     font-size: 22pt;
    }
 
    .int-vdo video{
     max-width: 200px;
    }
    .blockTT h2{
     font-size: 22pt;
    }
    .info h3{
     font-size: 20pt;
    }
    .contact h3{
     font-size: 20pt;
    }
    .li{
     font-size: 10pt;
    }
    .CSTU{
     font-size: 12pt;
    }
    .btn p{
     font-size: 12pt;
    }
    .MYID h2{
     font-size: 12pt;
     }
     .mark{
     padding-bottom: 20px;
     }
    
 }


@media (max-width : 400px){
    .Topic h1{
        font-size: 14pt;
        margin-top: 10px;
        margin-left: 5px;
       }
       .navtag ul li  a {
        font-size: 6pt;
        margin-bottom: 5px;
       }
       .HeadITV h2{
        font-size: 15pt;
        margin-top: 10px;
       }
       .Engtxt p{
        font-size: 8pt;
       }
       .THtxt p{
        font-size: 8pt;
       }
       .ITD{
        font-size: 15pt;
       }
    
       .int-vdo video{
        max-width: 120px;
       }
       .blockTT h2{
        font-size: 15pt;
       }
       .info h3{
        font-size: 15pt;
       }
       .contact h3{
        font-size: 15pt;
       }
       .li{
        font-size: 8pt;
       }
       .CSTU{
        font-size: 10pt;
       }
       .btn p{
        font-size: 10pt;
       }
       .MYID h2{
        font-size: 10pt;
        }
        .mark{
        padding-bottom: 20px;
        }
    
    
 
 
    
 }


.BarA {
    background-color: #860bc8;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom:10px solid #fff;
    
    
}

.BarB {
    background-color:#9f1631;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 10px solid #fff;
    
}

.BarC {
    background-color:#752996;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom:10px solid #fff;
    
}

.Topic{
    font-size: 20pt;
    color:aliceblue;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Fredoka;
}



.navbar {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    
}

.navbar li {
    color:aliceblue;
    padding-top: 70px;
    flex-wrap: nowrap;
    display: flex;
    
    
}

.navbar li a{
    color:#fff;
    margin: 0 1rem;
    font-size: 14pt;
    font-family: Fredoka;
    display: flex;    
}

.navbarA {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
   
}

.navbarA li {
    color:aliceblue;
    padding-top: 70px;
    flex-wrap: nowrap;
    display: flex;
    
    
    
}

.navbarA li a{
    color:#fff;
    margin: 0 1rem;
    padding-left: 10px;
    font-size: 14pt;
    font-family: Fredoka;
    display: flex; 
    
    
}




.ITV{
    color: #fff;
    font-family: Fredoka;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #860bc8;
    display: inline-block;
    border:10px solid #fff;
    border-radius: 15px;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left:50px;
    margin-right:50px;
    flex-wrap: nowrap;
    
    
}

.HeadITV{
    text-align: center;
    font-size: 18pt;
    flex-wrap: nowrap;
}

.Engtxt{
    padding-top: 30px;
    font-size: 12pt;
    flex-wrap: nowrap;
    
}

.THtxt{
    padding-top: 10px;
    font-size: 12pt;
    
    font-family: itim;
}



.HeadABM{
    text-align: center;
    font-size: 18pt;
}

.HeadCT{
    text-align: center;
    padding-top: 20px;
    font-size: 18pt;
    flex-wrap: nowrap;
}

.Info{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

.CT{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

.idbody{
    background-image: url("resources/S__2818051.gif");
}

.int-vdo{
    text-align: center;
    border: 10px solid white;
    border-radius: 15px;
    background-image: url("resources/bgvdo.png");
    justify-items: center;
    display: grid;
    margin-left: 25px;
    margin-right: 25px;
    
    
}

.int-vdo video{
    max-width: 250px;
}



.Vdohead{
    color: aliceblue;
    font-family:Fredoka;
    font-size: 20pt;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}

.blockcon{
    display: grid;
    grid-template-columns:repeat(auto-fit,300px) ;
    column-gap: 30px;
    justify-content: center;
}


.blockitem img{
   width: 100%;

}

.blockitem{
    margin-top: 20px;
}



.blockTT{
    color: aliceblue;
    font-family:Fredoka;
    font-size: 20pt;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

}

.contact{
    color: #860bc8;
    font-family:Fredoka;
    font-size: 24pt;
    text-align: center;
    margin: 2rem 0;
}

.blockitem3{
    border:10px solid #860bc8;
    border-radius: 15px;
    color: #860bc8;
    font-family:Fredoka;
    font-size: 18pt;
    background-color: aliceblue;
    list-style: none;
    margin-top: 20px;
    
}

.blockitem1{
    border:10px solid #860bc8;
    border-radius: 15px;
    color: #860bc8;
    font-family:Fredoka;
    font-size: 18pt;
    background-color: aliceblue;
    list-style: none;
    margin-top: 20px;
    
}

.blockitem3 ul{
    list-style: none;
    padding:30px;
    font-family:Fredoka;
    font-weight: 500;
    font-size: 18pt;
}

.btn{
    color: white;
    font-family:Fredoka;
    font-size: 20pt;
    text-align: center;
    text-decoration: none; 
    
    
}

.CSTU{
    margin-left: 30px;
    margin-right:30px;
    background-color:#860bc8;
    border: 4px solid ;
    border-radius: 15px;
}

.pggif{
    display:inline-block;
}


.info h3{
    color: white;
    font-family:Fredoka;
    font-size: 24pt;
    text-align: center;
    margin: 2rem 0;
}

.blockitem1 {
    border:10px solid white;
    border-radius: 15px;
    color: aliceblue;
    font-family:Fredoka;
    font-size: 16pt;
    background-color: #860bc8;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

.blockitem1 ul{
    list-style: none;
}

.mark h1{
    padding-top: 20px;
}



#playButton{
    color: aliceblue;
    font-family:Fredoka;
    font-size: 20pt;
    background-color: #860bc8;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 5px solid #fff;
}

.IMG{
    border: 8px solid #fff;
    border-radius: 15px;
    margin-bottom: 10px;
}

.ftbody{
    background-color: #f7a5b5;
}

.Plan1{
    background-color: #fff;
    margin-top: 50px;
    width: 400px;
    height:500px;
    position: relative;
    margin-left: 50px;
    margin-right: auto;
    border: 10px solid #9f1631;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #d65a5a;
}
.DS{
    text-align: center;
    font-size: 18pt;
    font-family: Fredoka;
    color: #9f1631;
    padding-top: 20px;
   
}

.Plan1txt{
    padding-top: 10px;
    font-size: 13pt;
    font-family: itim;
    color: #9f1631;
    padding-left: 20px;
    padding-right: 20px;
}

.DSIMG{
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 15px;
    
}

.YN2{
    padding-top: 10px;
}

.Plan2{
    background-color: #fff;
    margin-top: 50px;
    width: 400px;
    height:500px;
    position:relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: -519px;
    border: 10px solid #9f1631;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #d65a5a;
}
.BS{
    text-align: center;
    font-size: 18pt;
    font-family: Fredoka;
    color: #9f1631;
    padding-top: 20px;
   
}

.Plan2txt{
    padding-top: 10px;
    font-size: 13pt;
    font-family: itim;
    color: #9f1631;
    padding-left: 20px;
    padding-right: 20px;
}

.BSIMG{
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 15px;
    
}

.YN22{
    padding-top: 10px;
}


.Plan3{
    background-color: #fff;
    margin-top: 50px;
    width: 400px;
    height:500px;
    position:relative;
    margin-right: 50px;
    margin-left: auto;
    margin-top: -519px;
    border: 10px solid #9f1631;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #d65a5a;
}
.SE{
    text-align: center;
    font-size: 18pt;
    font-family: Fredoka;
    color: #9f1631;
    padding-top: 20px;
   
}

.Plan3txt{
    padding-top: 10px;
    font-size: 13pt;
    font-family: itim;
    color: #9f1631;
    padding-left: 20px;
    padding-right: 20px;
}

.SEIMG{
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 15px;
    
}

.YN32{
    padding-top: 10px;
}

.jnbody{
    background-color: #c37ce9;
}

.Goal{
    text-align: center;
    font-size: 20pt;
    font-family: Fredoka;
    color: #fff;
    padding-top: 20px;
    text-shadow: 4px 1px 2px #752996;
}

.BKL{
    background-color: #fff;
    margin-top: 50px;
    width: 800px;
    height:1450px;
    position:relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    border: 10px solid #752996;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #860bc8;
}

.BKLh{
    text-align: center;
    font-size: 18pt;
    font-family: Fredoka;
    color: #752996;
    padding-top: 20px;
   
}

.EduBL{
    margin-top: 20px;

}

.BLtxt{
    padding-top: 10px;
    font-size: 13pt;
    font-family: itim;
    color: #752996;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.Y1IMG{
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 15px;
    
}

.Y1txt{
    padding-top: 10px;
}

.txtcun{
    margin-top: 10px;
    text-align: center ;
    margin-left: -50px;
}

.EduBL{
    margin-left: 50px;
    
}

.EduBL ul li{
    padding-top: 10px;
   
    
}

.headtxt{
    margin-left: 20px;
    
    

}

.IMGJN{
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    border:#752996 solid 5px;
    box-shadow: 3px 3px 10px #e26fda;
}

.MYJN{
    font-family: Fredoka;
    text-align: center;
    background-color: #752996;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.MYID{
    font-family: Fredoka;
    text-align: center;
    background-color: #860bc8;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

.MYFT{
    font-family: Fredoka;
    text-align: center;
    background-color: #9f1631;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
}

.navbar a:hover{
    color:aqua;
}

.navbar a:active{
    color:#ff00b3;
}


.navbarA a:hover{
    color:aqua;
}

.navbarA a:active{
    color:#ff00b3;
}


