*{
    padding:0;
    margin:0;

}

.BarA {
    background-color: #004aad;
    
    display: flex;
    justify-content: space-between;
    border-bottom:10px solid #fff;
    
}

.BarB {
    background-color:#9f1631;
    
    display: flex;
    justify-content: space-between;
    
}

.BarC {
    background-color:#752996;
    
    display: flex;
    justify-content: space-between;
    
}

.Topic{
    font-size: 20pt;
    color:aliceblue;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Fredoka;
}



.navbar {
    display: flex;
    list-style: none;
    
   
}

.navbar li {
    color:aliceblue;
    padding-top: 70px;
    
    
}

.navbar li a{
    color:#fff;
    margin: 0 1rem;
    font-size: 14pt;
    font-family: Fredoka;    
}


.ABM{
    color: #fff;
    font-family: Fredoka;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #004aad;
    width:350px;
    height:300px;
    border:10px solid #fff;
    border-radius: 15px;
    margin-top: 50px;
    margin-left:50px;
    
}



.HeadABM{
    text-align: center;
    font-size: 18pt;
}

.HeadCT{
    text-align: center;
    padding-top: 20px;
    font-size: 20pt;
}

.Info{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

.CT{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

body{
    background-color: #0cc0df;
}