*{
    padding:0;
    margin:0;

}

.BarA {
    background-color: #860bc8;
    
    display: flex;
    justify-content: space-between;
    border-bottom:10px solid #fff;
    
}

.BarB {
    background-color:#9f1631;
    
    display: flex;
    justify-content: space-between;
    
}

.BarC {
    background-color:#752996;
    
    display: flex;
    justify-content: space-between;
    
}

.Topic{
    font-size: 20pt;
    color:aliceblue;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Fredoka;
}



.navbar {
    display: flex;
    list-style: none;
    
   
}

.navbar li {
    color:aliceblue;
    padding-top: 70px;
    
    
}

.navbar li a{
    color:#fff;
    margin: 0 1rem;
    font-size: 14pt;
    font-family: Fredoka;    
}


.ABM{
    color: #fff;
    font-family: Fredoka;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #860bc8;
    width:350px;
    height:300px;
    border:10px solid #fff;
    border-radius: 15px;
    margin-top: 50px;
    margin-left:50px;
    
}

.ITV{
    color: #fff;
    font-family: Fredoka;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #860bc8;
    width:450px;
    height:400px;
    border:10px solid #fff;
    border-radius: 15px;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    
}

.HeadITV{
    text-align: center;
    font-size: 18pt;
}

.Engtxt{
    padding-top: 30px;
    font-size: 12pt;
    
}

.THtxt{
    padding-top: 10px;
    font-size: 12pt;
    
    font-family: itim;
}



.HeadABM{
    text-align: center;
    font-size: 18pt;
}

.HeadCT{
    text-align: center;
    padding-top: 20px;
    font-size: 18pt;
}

.Info{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

.CT{
    padding-top: 10px;
    font-size: 15pt;
    list-style: none;
}

body{
    background-image: url("resources/S__2818051.gif");;
}

.int-vdo{
    text-align: center;
    border: 10px solid white;
    border-radius: 15px;
    background-image: url("resources/bgvdo.png");
    
}

.Vdohead{
    color: aliceblue;
    font-family:Fredoka;
    font-size: 20pt;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;

}